# to run the application locally with docker, copy this file and remove an 'example' suffix
# then set up the proper secrets values to the following variables
# and run the application with command: docker compose --env-file secrets.env up --build

POSTGRES_USER=${POSTGRES_USER}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
POSTGRES_DB=pri-system
JWT_TOKEN=${JWT_TOKEN}
